.header{
  background-color: var(--main-gray);
  &__container{
    max-width:1440px;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
  }
  &__logo-logo{

    margin: auto 0;
    color:white;
    font-size: 34px;
  }
  &__navbar{

    &-list{
      display: flex;
    }
    &-item{
      margin: 20px 40px;
    }
    &-link{
      font-family: "DM Sans", sans-serif;
      font-size: 17px;
      color:white;
      font-weight: 400;
      text-decoration: none;
      line-height: 27px;
      letter-spacing: 0px;
      transition: color;
      &:hover{
        color:var(--text-hover);
        animation: .3s ease-in-out;
      }
    }
  }
}
